body {
    font-family: Roboto, sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

button {
    font-family: Roboto, sans-serif;
    padding: 8px 36px;
    border-radius: 8px;
    border: none;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}

button.hero-button {
    background-color: #3882f6;
    color: white;
}

.container {
    max-width: 1140px;
    margin: auto;
}

.sec-1 {
    background-color: #1F2937;
    padding: 24px 0;
}

.main-color {
    color: #f9faf8;
}

.subtext-color {
    color: #e5e7eb;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
}

.logo {
    font-size: 24px;
    font-weight: 700;
}

.hero-subtext {
    font-size: 18px;
    margin: 8px 0;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header-link {
    display: flex;
    gap: 24px;
}

.hero {
    display: flex;
    padding: 86px 0;
    gap: 56px;
}

.hero-img {
    width: 700px;
    height: 250px;
}

.info {
    text-align: center;
    padding: 32px;
    margin-bottom: 24px;
}

.info-title {
    font-weight: 900;
    font-size: 26px;
    color: #1f2937;
}

.info-container {
    padding: 32px;
    display: flex;
    gap: 48px;
    justify-content: center;
}

.info-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-card img {
    border: 4px #3882f6 solid;
    border-radius: 16px;
    width: 170px;
    height: 170px;
}

.text {
    font-size: 18px;
    margin: 8px 0;
    color: #353e4b;
    width: 170px;
}

.sec-2 {
    background-color: #e5e7eb;
}

.qoute {
    padding: 148px;
    max-width: 900px;
    margin: auto;
}

.quote-text {
    text-wrap: wrap;
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1F2937;
}

.quote-author {
    color: #1F2937;
    text-align: right;
    font-size: 22px;
    font-weight: bold;
    font-style: normal;
    margin-right: 56px;
}

.footer {
    background-color: #1F2937;
    color: white;
    text-align: center;
    padding: 50px;
}